*{ /* selector universal */
    margin: 0; 
    padding: 0;
    /* reinicia márgenes y padding por defecto del navegador, evita espacios inesperados, evita bugs, el navegador no decide qué elementos tienen espacio */
}
html{
    box-sizing: border-box; /* el padding y border se incluyan dentro del ancho */
    font-size: 62.5%; /* para que 1 rem sea 10px y no 16px */
}
*,*:before,*::after{
    box-sizing: inherit; /* todos los elementos del sitio usan el mismo box-sizing */
}


.Header { /* PARA TODO EL HEADER */
    position: relative; /* permite que el video se pueda colocar exactamente encima sin moverse raro */
    width: 100%; /* opcupa todo el ancho */
    height: 100vh; /* Ocupa toda la pantalla view height */
    overflow: hidden; /* si el video se sale se corta para q no aparezaca barra de scroll */
} 
.Header video {
    position: absolute; /* permite mover el videon libremente como si se pegara al contenedor, no afecta codigo */
    top: 50%;
    left: 50%; /* left top- lleva el centro del div al centro del video */
    min-width: 100%; /*  El video siempre será más grande que la pantalla así no quedan bordes negros.*/
    min-height: 100%; 
    transform: translate(-50%, -50%); /* centrea el video exactamente en el medio si no se va a un lado */
    object-fit: cover; /* hace que el video cubra toda la pantalla sin deformarse */
    z-index: -1; /* pone el video detrás del contenido */
}
.Header__nav {
       /* el menu se pone encima el video, si se quita el menu se ira abajo*/
    top: 0; 
    left: 0; /* top-left coloca el menu en la esquina superior izquierda, para q no quede desalineado */
    width: 100%; /* ocupa 80% de header */
    padding: 3rem 6rem; /* espacio interno pra q el menu no se pegue al borde de la pantalla */
    display: flex; /* para q los elementos sean flexibles, se pueden manipular */
    justify-content: space-between; /* para dar esapcio entre los elementos del menu, logo a la izquierda y links a la derecha, no se usa gap porque necesitamos distriubuir */
    align-items: center; /* alinear verticalmente */
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    z-index: 2;           /* Asegura que está sobre el video, es nivel de apilamiento */
}
@media (min-width:768px ){
    .nav{
        position: absolute;

    }
}







.Header__nav__logoText { /* PARA EL YOUNG SOUL */
    position: fixed; /* para que young soul se fije al hacer scroll */
    color: white;
    font-size: 3rem;
    font-weight: 900; /* extra grueso, sirve grosor o negrita */
    text-decoration: none;
}
.Header__nav__logoText__logoimg{
    font-weight: bold;
    width: 3%;  /* sin eso la imagen se sale de donde deberia */
    height: 5%;
    vertical-align: middle; /* para que el medio de la imagen se alinie con el medio dlel texto */
}

.Header__nav__menu { /* PARA TODOS LOS LINKS */
    display: flex; /* poner elementos en fila */
    list-style: none; /* quitar puntos de la lista */
    gap: 4rem; /* espacio entre las opciones */
    margin-left: 125em; /* del margen para afuera, Para dar margen a la izquierda y separar los links de young soul */
}
.Header__nav__menu a { /* links  */
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 2.6rem;
}
.Header__nav__menu li {
    padding-left: 6rem; /* para separar las los links*/
}


.HeaderNegro{
    background-color: rgb(18, 18, 18);
}


.HeaderBlanco{
    background-color: white;
}
.HeaderBlanco a{
    color: black;
}


.HeaderRojo{
    color: black;
    background-color:rgba(255, 71, 59);
}


.SectionUno{ /* PARA TODO EL CONTENEDOR UNO */
    border-bottom: solid; /* linea para la parte de abajo */
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem; /* grosor de borde */
    height: 65vh; /* el 55 de la altura de pantalla */
    background-color: rgb(18, 18, 18);
    padding: 5rem; /* Separar el texto del borde, el texto no se pega al borde */
    text-align: center;
    color: white;
}
.SectionUno__YS{ /* PARA YOUNG SOUL DANCE STUDIO */
    font-size: 2.7rem;
    font-family: Arial, sans-serif;
     /* para dar espacio entre las letras */
}
.SectionUno__lema{ /* SER MEJOR PERSONA */
    padding-top: 10rem; /* separar young soul del lema */
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}
.SectionUno__lema span{ /* ANTES Q BUEN BAILARIN */
    font-size: 12rem;
    font-weight: 900;
}

/* RED HAT DISPLAY LETRAS */


.SectionUno__LeerMas {
    display: inline-flex; /* para que el texto y la flecha estén alineados, hace que el enlace sea un contenedor flexible en línea */
    margin-top: 5rem; /* espacio arriba del elace */
    align-items: center; /* alinea horizontal */
    font-size: 2rem;
    color: white;
    text-decoration: none; /* quitar la linea predeterminada del link */
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    border-bottom: 1px solid white; /* línea debajo del texto */
    padding-bottom: 1rem; /* espacio entre el texto y la linea */
}

.SectionUno__Flecha {
    font-size: 4rem; /* agrandar flecha */
    display: inline-block; /* para q se mueva la flecha sin afectar el texto*/
    margin-left: 13rem; /* espacio entre texto y flecha */
    transition: transform 0.5s; /* para que la flecha se mueva suave*/
}

.SectionUno__LeerMas:hover .SectionUno__Flecha {
    transform: translateX(1rem); 
    /* flecha se mueve al pasar el mouse 
    transform propiedad que mueve rota escala o inclina un elemento
    X porque el movimiento es horizontal */
}


.ContenedorSectDosTres{
    display: flex; /* elemntos flexibles */
    justify-content: space-between; /* hace que las dos secciones esten lado a lado */
    height: 90vh;
    background-color: rgb(18, 18, 18); 
    font-size: 2rem;
    text-align: center;/* alinea los elementos al centro */
}
.ContenedorSectDosTres__SectionDos{
    width: 50%;
}
.ContenedorSectDosTres__Boton{
    margin-top: 30rem; /* para que el boton se acomode abajo */
    display: inline-flex; /* para que el texto y la flecha estén alineados, hace que el enlace sea un contenedor flexible en línea */
    align-items: center; /* alinea horizontall */
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-decoration: none; /* quitar la linea predeterminada del link */
    font-family: 'Poppins', sans-serif;
    padding: 0rem 4rem;     /* espacio interno, 0 abajo arriba, 4 izq derec, necesario para que el hover se transforme bien */
    border-radius: 5rem;      /*para q la trasnsicion no salte la forma de golpe, preparado para el hover */
    transition: 
        background 0.3s,
        color 0.3s,
        transform 0.3s; /* cualquier trasnformacion */

}
.ContenedorSectDosTres__FlechaDos{
    font-size: 6rem; /* agrandar flecha */
    display: inline-block; /* para q se mueva la flecha sin afectar el texto*/
    margin-left: 3rem; /* espacio entre texto y flecha */
    transition: transform 0.5s; /* para que la flecha se mueva suave*/
}
.ContenedorSectDosTres__Boton:hover {
    background: white; /* aparece el fondo */
    color: black;  /* texto negro */
    border-radius: 5rem; /* borde redondeado */
}
.ContenedorSectDosTres__Boton:hover .ContenedorSectDosTres__FlechaDos {
    transform: translateX(1.5rem); 
    /* flecha se mueve al pasar el mouse 
    transform propiedad que mueve rota escala o inclina un elemento
    X porque el movimiento es horizontal */
}

.ContenedorSectDosTres__SectionTres{
    width: 50%;
    border-left: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;  /* ancho de borde */ 
}
.ContenedorSectDosTres__Text{
    margin-top: 40rem; /* para bajar el texto al centro */
    color: white;
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}



.SectionCuatro{
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 71, 59); 
    display: flex;
    align-items: center; /* alinea horizontal */
    justify-content: center; /* alinea vertical */
}
.SectionCuatro a{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-decoration: none;
}

.PiePag{
    width: 100%;
    height: 40vh; /* tamaño de la pantalla q opucara viewport heigth */
    background: white; 
    display: flex;
    flex-direction: column;
    align-items: center; /* alinea horizontal */
    justify-content: center; /* alinea vertical */
   
  
}
.PiePag p{
    font-size: 5rem;
    color: black;
    text-decoration: none;
    
}
.PiePag span{
    font-size: 5rem;
    color: black;
    text-decoration: none;

}
.PiePag__Titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    font-weight: 900;

}
.PiePag__Nombre{
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    font-weight: 600;
}
.PiePag__Direccion{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight:600;
    text-align: center;
}
.PiePag__RedesSociales{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.PiePag__RedesSociales__Link{
    width: 7rem;
    height: 7rem;
}
.footer{
     border-bottom:1rem solid black ;
    border-top: 1rem solid black;
}
.autor{
    text-align: end;
    
}
.autor__nombre{
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

