*{ /* selector universal */
    margin: 0; 
    padding: 0;
    /* reinicia márgenes y padding por defecto del navegador, evita espacios inesperados, evita bugs, el navegador no decide qué elementos tienen espacio */
}
html{
    box-sizing: border-box; /* el padding y border se incluyan dentro del ancho */
    font-size: 62.5%; /* para que 1 rem sea 10px y no 16px */
}
*,*:before,*::after{
    box-sizing: inherit; /* todos los elementos del sitio usan el mismo box-sizing */
}


.Header { /* PARA TODO EL HEADER */
    position: relative; /* permite que el video se pueda colocar exactamente encima sin moverse raro */
    width: 100%; /* opcupa todo el ancho */
    height: 100vh; /* Ocupa toda la pantalla view height */
    overflow: hidden; /* si el video se sale se corta para q no aparezaca barra de scroll */
} 
.Header video {
    position: absolute; /* permite mover el videon libremente como si se pegara al contenedor, no afecta codigo */
    top: 50%;
    left: 50%; /* left top- lleva el centro del div al centro del video */
    min-width: 100%; /*  El video siempre será más grande que la pantalla así no quedan bordes negros.*/
    min-height: 100%; 
    transform: translate(-50%, -50%); /* centrea el video exactamente en el medio si no se va a un lado */
    object-fit: cover; /* hace que el video cubra toda la pantalla sin deformarse */
    z-index: -1; /* pone el video detrás del contenido */
}
.Header__nav {
       /* el menu se pone encima el video, si se quita el menu se ira abajo*/
    top: 0; 
    left: 0; /* top-left coloca el menu en la esquina superior izquierda, para q no quede desalineado */
    width: 100%; /* ocupa 80% de header */
    padding: 3rem 6rem; /* espacio interno pra q el menu no se pegue al borde de la pantalla */
    display: flex; /* para q los elementos sean flexibles, se pueden manipular */
    justify-content: space-between; /* para dar esapcio entre los elementos del menu, logo a la izquierda y links a la derecha, no se usa gap porque necesitamos distriubuir */
    align-items: center; /* alinear verticalmente */
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    z-index: 2;           /* Asegura que está sobre el video, es nivel de apilamiento */
}

.Header__nav__logoText { /* PARA EL YOUNG SOUL */
    position: fixed; /* para que young soul se fije al hacer scroll */
    color: white;
    font-size: 3rem;
    font-weight: 900; /* extra grueso, sirve grosor o negrita */
    text-decoration: none;
}
.Header__nav__logoText__logoimg{
    font-weight: bold;
    width: 5rem;  /* sin eso la imagen se sale de donde deberia */
    height: 5rem;
    vertical-align: middle; /* para que el medio de la imagen se alinie con el medio dlel texto */
}

.Header__nav__menu { /* PARA TODOS LOS LINKS */
    display: flex; /* poner elementos en fila */
    list-style: none; /* quitar puntos de la lista */
    gap: 4rem; /* espacio entre las opciones */
    margin-left: 125rem; /* del margen para afuera, Para dar margen a la izquierda y separar los links de young soul */
}
.Header__nav__menu a { /* links  */
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 2.6rem;
    transition: 
        color 0.3s,
        font-size 0.3s;
}

.Header__nav__menu__boton:hover{
    border-radius: 5rem;
    padding: 0.7rem 1.5rem;
    color: black;
    font-size: 3.2rem;
    background-color:rgb(255, 71, 59);
}
.Header__nav__menu__rojo:hover{
    border-radius: 5rem;
    padding: 0.7rem 1.5rem;
    color: white;
    font-size: 3.2rem;
    background-color:black;
}

.Header__nav__menu li {
    padding-left: 6rem; /* para separar las los links*/
}


.HeaderNegro{
    background-color: rgb(18, 18, 18);
}


.HeaderBlanco{
    background-color: white;
}

.HeaderBlanco a, .HeaderRojo a{
    color: black;
}


.HeaderRojo{
    background-color:rgb(255, 71, 59);
}



.SectionUno{ /* PARA TODO EL CONTENEDOR UNO */
    border-bottom: solid; /* linea para la parte de abajo */
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem; /* grosor de borde */
    height: 95rem; 
    background-color: rgb(18, 18, 18);
    padding: 5rem; /* Separar el texto del borde, el texto no se pega al borde */
    text-align: center;
    color: white;
}


.SectionUno__YS{ /* PARA YOUNG SOUL DANCE STUDIO */
    font-size: 2.7rem;
    font-family: Arial, sans-serif;
    font-weight: 300;
     /* para dar espacio entre las letras */
}
.SectionUno__lema{ /* SER MEJOR PERSONA */
    padding-top: 10rem; /* separar young soul del lema */
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;;
    
}
.SectionUno__lema span{ /* ANTES Q BUEN BAILARIN */
    font-size: 12rem;
    font-weight: 900;
}

/* RED HAT DISPLAY LETRAS */


.SectionUno__LeerMas {
    display: inline-flex; /* para que el texto y la flecha estén alineados, hace que el enlace sea un contenedor flexible en línea */
    margin-top: 5rem; /* espacio arriba del elace */
    align-items: center; /* alinea horizontal */
    font-size: 2.5rem;
    color: white;
    text-decoration: none; /* quitar la linea predeterminada del link */
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    border-bottom: 1px solid white; /* línea debajo del texto */
    padding-bottom: 1rem; /* espacio entre el texto y la linea */
}

.SectionUno__Flecha {
    font-size: 4rem; /* agrandar flecha */
    display: inline-block; /* para q se mueva la flecha sin afectar el texto*/
    margin-left: 13rem; /* espacio entre texto y flecha */
    transition: transform 0.5s; /* para que la flecha se mueva suave*/
}

.SectionUno__LeerMas:hover .SectionUno__Flecha {
    transform: translateX(1rem); 
    /* flecha se mueve al pasar el mouse 
    transform propiedad que mueve rota escala o inclina un elemento
    X porque el movimiento es horizontal */
}

/* 



*/
.ContenedorSectDosTres{
    display: flex; /* elemntos flexibles */
    justify-content: center; /* hace que las dos secciones esten lado a lado */
    height: 120rem; 
    text-align: center;/* alinea los elementos al centro */
}
.ContenedorSectDosTres__SectionDos{
    width: 50%;
}
.SectionDos__img{
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.5),   /* capa negra transparente */
        rgba(0, 0, 0, 0.5)    /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        /* se repite para crear capa uniforme en vez de degradado */
    ),  url(img/imgDancer.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center 10%; /* Mantén el punto central de la imagen siempre visible */
}

.ContenedorSectDosTres__Boton{
    margin-top: 30rem; /* para que el boton se acomode abajo */
    display: inline-flex; /* para que el texto y la flecha estén alineados, hace que el enlace sea un contenedor flexible en línea */
    align-items: center; /* alinea horizontall */
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-decoration: none; /* quitar la linea predeterminada del link */
    font-family: 'Poppins', sans-serif;
    padding: 0rem 4rem;     /* espacio interno, 0 abajo arriba, 4 izq derec, necesario para que el hover se transforme bien */
    border-radius: 5rem;      /*para q la trasnsicion no salte la forma de golpe, preparado para el hover */
    transition: 
        background 0.3s,
        color 0.3s,
        transform 0.3s; /* cualquier trasnformacion */

}
.ContenedorSectDosTres__FlechaDos{
    font-size: 6rem; /* agrandar flecha */
    display: inline-block; /* para q se mueva la flecha sin afectar el texto*/
    margin-left: 3rem; /* espacio entre texto y flecha */
    transition: transform 0.5s; /* para que la flecha se mueva suave*/
}
.ContenedorSectDosTres__Boton:hover {
    background: white; /* aparece el fondo */
    color: black;  /* texto negro */
    border-radius: 5rem; /* borde redondeado */
}
.ContenedorSectDosTres__Boton:hover .ContenedorSectDosTres__FlechaDos {
    transform: translateX(1.5rem); 
    /* flecha se mueve al pasar el mouse 
    transform propiedad que mueve rota escala o inclina un elemento
    X porque el movimiento es horizontal */
}

.ContenedorSectDosTres__SectionTres{
    width: 50%;
    border: 0.2rem;
    border-left: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;  /* ancho de borde */ 
}
.SectionTres__img{
    background-image: linear-gradient(     /* se usa para degradado */
        rgba(0, 0, 0, 0.5),   /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        rgba(0, 0, 0, 0.5)    
        /* se repite para crear capa uniforme en vez de degradado */
    ), url(img/ElencoIndex.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
}

.ContenedorSectDosTres__Text{
    margin-top: 40rem; /* para bajar el texto al centro */
    color: white;
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}



.SectionCuatro{
    width: 100%;
    height: 10rem;
    background-color: rgb(255, 71, 59); 
    display: flex;
    align-items: center; /* alinea veticall */
    justify-content: center; /* alinea horizontal */
}
.SectionCuatro a{
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-decoration: none;
}

.PiePag{
    width: 100%;
    height: 60rem; 
    background: white; 
    display: flex;
    flex-direction: column;
    align-items: center; /* alinea horizontal */
    justify-content: center; /* alinea vertical */

}


.PiePag__Titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    font-weight: 900;

}
.PiePag__Nombre{
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    font-weight: 600;
}
.PiePag__Direccion{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight:600;
    text-align: center;
}
.PiePag__RedesSociales{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.PiePag__RedesSociales__Link{
    width: 7rem;
    height: 7rem;
}
.footer{
    /* borde arriba y abajo */
    border-bottom:1rem solid black ;
    border-top: 1rem solid black;
}
.autor{
    text-align: end; /* para que este al finla del bloque */
    
}
.autor__nombre{
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}




/* INSTRUCTOR */
.Dancer{
    width: 100%;
    height: 50rem;
    padding-top: 15rem; /* para dar espacio entre el borde y el contenido */
    color: white;
    text-align: center; /* texto ne el centro */
    font-size: 18rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(18, 18, 18);
    font-weight: 900;
    line-height: 9rem; /* para que el texto no este tan junto del texto q esta abajo */
    border-bottom: 0.2rem solid white;
}
.Dancer span{
    font-size: 4rem;
    font-weight: 500;
    color: white;
}




.DancerDos{
    width: 100%;
    height: 90rem;
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center; /* alinea en horizontal por column, flex direction */
    justify-content: center;
    flex-direction: column; /* para que los contenedores no esten lado a lado */
    padding-bottom: 5rem;
}
.DancerDos__RedesS{
    margin-top: 5rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    gap: 5rem;
}

.DancerDos__RedesS__Link{
    width: 5rem;
    height: 5rem;
}


/*  */
 .DancerDos__img{
    margin-top: 3rem;
    width: 60rem;
    height: 60rem;
    border-radius: 100%;
    overflow: hidden; /* recorta la img a la forma del div */
}
 .DancerDos__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;         /* no se deforma y llena el div */
    object-position: 50% 30%;   /* centra la imagen, horizontal vertical*/
}
/*  */

.Actividad{
    padding-top: 5rem;
    background-color: rgb(18, 18, 18) ;
    color: white;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    border-top: 0.2rem solid white;
}
.Actividad__Videos {
    display: flex;
    flex-direction: column; /* videos uno debajo del otro */
    align-items: center; /* centrados horizontal por column */
    gap: 40px; /* espacio entre video*/
    padding: 40px; /* espacio arriba/abajo */
}

.Actividad__Videos iframe {
    width: 90%;           /* tamaño del video */
    height: auto;        /* altura normal sin cortar */
    border-radius: 20px;  /* opcional: bordes redondeados */
    aspect-ratio: 16/9; /* Por cada 16 unidades de ancho, el alto debe tener 9 unidades  16/9 es la proporcion delos videos de YT actuales */
}






/* CONTACTANOS */
#map{
    width: 100%;
    height: 105rem;
    border-top: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
}
.ContenidoTexto{
    margin: 9rem 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    font-weight: 900;
    line-height: 5rem; /* dar espacio entre texto, separcion de abajo */
}
.ContenidoTexto span{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}
.SectDos, .SectUno{
    padding: 0 5rem;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center; /* alinea vertical */
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.SectUno{
    border-bottom: 0.3rem solid black;
}

.SectDos span, .SectUno span{
    font-size: 2.5rem;
    font-weight: 600;
}


/* SOBRE YS */
.SectInicial {
    padding-top: 5rem;
    background-color: rgb(255, 71, 59); 
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    width: 100%;
    height: 70rem;               /* ocupa toda la pantalla */
}

.SectInicial__YS {
    font-size: 12rem;
    font-weight: 900;
    line-height: 15rem;
    color: black;
}


.TextoUno {
    padding-left: 20rem;
}

.TextoDos {
    display: flex;
    align-items: center; /* alinea vertical */
    padding-left: 11rem;
    gap: 20px;             /* separa AL - SIGUIENTE */
}

.linea {
    display: inline-block;
    width: 35rem;         /* tamaño de la línea */
    height: 0.2rem;
    background-color: black;
}

.TextoTres {
    padding-left: 43rem;
}

.SobreYS p{
    padding: 0 8rem;
    color: black;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;

}
.SobreYS{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 71, 59);
    padding-bottom: 5rem;
    border-bottom: 0.2rem solid black;
}
.SobreYS img{
    padding: 0 20rem;
    width: 115rem;
    height: 60rem;

}
.Contacto a{
    font-size: 3.5rem;
}
.SobreYS__imagenYT{
    background-image: linear-gradient(     /* se usa para degradado */
        rgba(0, 0, 0, 0.5),   /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        rgba(0, 0, 0, 0.5)    
        /* se repite para crear capa uniforme en vez de degradado */
    ), url(img/SobreYSYT.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
}
.SobreYS__imagenTT{
    background-image: linear-gradient(     /* se usa para degradado */
        rgba(0, 0, 0, 0.5),   /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        rgba(0, 0, 0, 0.5)    
        /* se repite para crear capa uniforme en vez de degradado */
    ), url(img/SobreYSTT.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
}


@media (max-width:1024px ){
    /* INDEX */
    .Header__nav__logoText__logoimg{
         width: 2.5rem;  /* sin eso la imagen se sale de donde deberia */
         height: 2.5rem;
    }
    .Header__nav__logoText { /* PARA EL YOUNG SOUL */
        font-size: 1.5rem;
     }
    .SectionUno__lema{ /* SER MEJOR PERSONA */
         font-size: 3rem;
   
    }
    .SectionUno__lema span{ /* ANTES Q BUEN BAILARIN */
         font-size: 5rem;
    }
    .SectionUno{ /* PARA TODO EL CONTENEDOR UNO */
         height: 70rem;
    }
    .ContenedorSectDosTres{
         flex-direction: column;
         height: auto;                                                          
    }
    .ContenedorSectDosTres__SectionTres{
         border-top: solid;
         border-color: white;
         border-left: 0;
    }
    .ContenedorSectDosTres__SectionDos,.ContenedorSectDosTres__SectionTres {
        width: 100%;
    }
    .ContenedorSectDosTres__Text {
        font-size: 3rem;
        margin-top: 15rem;
    }
    .ContenedorSectDosTres__Boton {
        margin-top: 7rem;
        font-size: 2rem;
    }
    .SectionCuatro a{
         font-size: 2rem;
    }
    .ContenedorSectDosTres__Boton{
         font-size: 1.5rem;
         margin-bottom: 10rem;
         padding: 0rem 2rem;     /* espacio interno, 0 abajo arriba, 4 izq derec, necesario para que el hover se transforme bien */
    }
    .ContenedorSectDosTres__FlechaDos{
         font-size: 3rem; /* agrandar flecha */
    }
    .PiePag{
         height: 35rem;
    }
    .PiePag__RedesSociales__Link{
         width: 4rem;
         height: 4rem;
    }
    /* FOOTER */
    .PiePag__Titulo {
         font-size: 5rem;
    }
    .PiePag__Nombre {
         font-size: 3rem;
    }
    .PiePag__Direccion {
        font-size: 2.4rem;
    }
    .SectionUno__YS { /* PARA EL YOUNG SOUL */
    font-size: 2rem;
}
 
/* INSTRUCTOR */
    .Dancer{
         height: 15rem;
         padding-top: 0rem; /* para dar espacio entre el borde y el contenido */
         font-size: 5rem;
         line-height: 4rem;
    }
    .Dancer span{
         font-size: 1.5rem;
    }
    .DancerDos__RedesS__Link{
         margin-top: 0;
         width: 3rem;
         height: 3rem;
     }
      .DancerDos__img{
    width: 25rem;
    height: 25rem;
    }
     .DancerDos{
          height: 45rem;
    }
    .Actividad{
         padding-top: 3rem;
         font-size: 1.5rem;
    }
 
     /* CONTACTANOS */
    #map{
    border-top: 0.1rem;
    border-bottom: 0.1rem;
}
    .ContenidoTexto{
    margin: 2rem 0;
    font-size: 3rem;
}
.ContenidoTexto span{
    font-size: 1.5rem;
}
.SectDos, .SectUno{
    font-size: 1rem;
}
.SectUno{
    border-bottom: 0.1rem solid black;
}
 
.SectDos span, .SectUno span{
    font-size: 1rem;
}
 
/* SOBRE YS */
    .SectInicial__YS {
    line-height: 7rem;
    font-size: 4.5rem;
   
}
.SobreYS img{
    padding: 0 20rem;
    width: 70rem;
    height: 25rem;
}
.TextoUno {
    padding-left: 22rem;
}
.TextoDos {
    padding-left: 15rem;
}
.linea {
    width: 15rem;         /* tamaño de la línea */
    height: 0.1rem;
    background-color: black;
}
.TextoTres {
    padding-left: 30rem;
}
.SobreYS p{
    padding: 3rem 3rem;
    font-size: 1.3rem;
}
.SobreYS{
    flex-direction: column;
    padding-bottom: 5rem;
    border-bottom: 0.1rem;
}
}
@media (max-width:768px ){
    /* INDEX */
    .Header__nav__logoText__logoimg{
         width: 2.5rem;  /* sin eso la imagen se sale de donde deberia */
         height: 2.5rem;
    }
    .Header__nav__logoText { /* PARA EL YOUNG SOUL */
        font-size: 1.5rem;
     }
    .SectionUno__lema{ /* SER MEJOR PERSONA */
         font-size: 3rem;
   
    }
    .SectionUno__lema span{ /* ANTES Q BUEN BAILARIN */
         font-size: 5rem;
    }
    .SectionUno{ /* PARA TODO EL CONTENEDOR UNO */
         height: 70rem;
    }
    .ContenedorSectDosTres{
         flex-direction: column;
         height: auto;                                                          
    }
    .ContenedorSectDosTres__SectionTres{
         border-top: solid;
         border-color: white;
         border-left: 0;
    }
    .ContenedorSectDosTres__SectionDos,.ContenedorSectDosTres__SectionTres {
        width: 100%;
    }
    .ContenedorSectDosTres__Text {
        font-size: 3rem;
        margin-top: 15rem;
    }
    .ContenedorSectDosTres__Boton {
        margin-top: 7rem;
        font-size: 2rem;
    }
    .SectionCuatro a{
         font-size: 2rem;
    }
    .ContenedorSectDosTres__Boton{
         font-size: 1.5rem;
         margin-bottom: 10rem;
         padding: 0rem 2rem;     /* espacio interno, 0 abajo arriba, 4 izq derec, necesario para que el hover se transforme bien */
    }
    .ContenedorSectDosTres__FlechaDos{
         font-size: 3rem; /* agrandar flecha */
    }
    .PiePag{
         height: 35rem;
    }
    .PiePag__RedesSociales__Link{
         width: 4rem;
         height: 4rem;
    }
    /* FOOTER */
    .PiePag__Titulo {
         font-size: 5rem;
    }
    .PiePag__Nombre {
         font-size: 3rem;
    }
    .PiePag__Direccion {
        font-size: 2.4rem;
    }
    .SectionUno__YS { /* PARA EL YOUNG SOUL */
    font-size: 2rem;
}
 
/* INSTRUCTOR */
    .Dancer{
         height: 15rem;
         padding-top: 0rem; /* para dar espacio entre el borde y el contenido */
         font-size: 5rem;
         line-height: 4rem;
    }
    .Dancer span{
         font-size: 1.5rem;
    }
    .DancerDos__RedesS__Link{
         margin-top: 0;
         width: 3rem;
         height: 3rem;
     }
      .DancerDos__img{
    width: 25rem;
    height: 25rem;
    }
     .DancerDos{
          height: 45rem;
    }
    .Actividad{
         padding-top: 3rem;
         font-size: 1.5rem;
    }
/* CONTACTANOS */
    #map{
    border-top: 0.1rem;
    border-bottom: 0.1rem;
}
    .ContenidoTexto{
    margin: 2rem 0;
    font-size: 3rem;
}
.ContenidoTexto span{
    font-size: 1.5rem;
}
.SectDos, .SectUno{
    font-size: 1rem;
}
.SectUno{
    border-bottom: 0.1rem solid black;
}
 
.SectDos span, .SectUno span{
    font-size: 1rem;
}
 
/* SOBRE YS */
 
.SectInicial {
    padding-top: 0rem;
    height: 20rem;            
}
 
    .SectInicial__YS {
    line-height: 5rem;
    font-size: 2.5rem;
   
}
.SobreYS img{
    width: 65rem;
    height: 20rem;
}
 
.TextoUno {
    padding-left: 8rem;
}
 
.TextoDos {
    padding-left: 5rem;
}
 
.linea {
    width: 10rem;         /* tamaño de la línea */
    height: 0.1rem;
    background-color: black;
}
 
.TextoTres {
    padding-left: 17rem;
}
 
.SobreYS p{
    padding: 3rem 5rem;
    font-size: 1.3rem;
 
}
.SobreYS{
    flex-direction: column;
    padding-bottom: 5rem;
    border-bottom: 0.1rem;
}
}



