*{ /* selector universal */
    margin: 0; 
    padding: 0;
    /* reinicia márgenes y padding por defecto del navegador, evita espacios inesperados, evita bugs, el navegador no decide qué elementos tienen espacio */
}
html{
    box-sizing: border-box; /* el padding y border se incluyan dentro del ancho */
    font-size: 62.5%; /* para que 1 rem sea 10px y no 16px */
    overflow-x: hidden; /* No permitir scroll horizontal */
    max-width: 100vw;   /* Máximo ancho igual a la ventana */
}
*,*:before,*::after{
    box-sizing: inherit; /* todos los elementos del sitio usan el mismo box-sizing */
}


.Header { /* PARA TODO EL HEADER */
    position: relative; /* permite que el video se pueda colocar exactamente encima sin moverse raro */
    width: 100%; /* opcupa todo el ancho */
    height: 100vh; /* Ocupa toda la pantalla view height */
    overflow: hidden; /* si el video se sale se corta para q no aparezaca barra de scroll */
} 
.Header video {
    position: absolute; /* permite mover el videon libremente como si se pegara al contenedor, no afecta codigo */
    top: 50%;
    left: 50%; /* left top- lleva el centro del div al centro del video */
    min-width: 100%; /*  El video siempre será más grande que la pantalla así no quedan bordes negros.*/
    min-height: 100%; 
    transform: translate(-50%, -50%); /* centrea el video exactamente en el medio si no se va a un lado */
    object-fit: cover; /* hace que el video cubra toda la pantalla sin deformarse */
    z-index: -1; /* pone el video detrás del contenido */
}
.Header__nav {
       /* el menu se pone encima el video, si se quita el menu se ira abajo*/
    top: 0; 
    left: 0; /* top-left coloca el menu en la esquina superior izquierda, para q no quede desalineado */
    width: 100%; /* ocupa 80% de header */
    padding: 3rem 6rem; /* espacio interno pra q el menu no se pegue al borde de la pantalla */
    display: flex; /* para q los elementos sean flexibles, se pueden manipular */
    justify-content: space-between; /* para dar esapcio entre los elementos del menu, logo a la izquierda y links a la derecha, no se usa gap porque necesitamos distriubuir */
    align-items: center; /* alinear verticalmente */
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    z-index: 2;           /* Asegura que está sobre el video, es nivel de apilamiento */

}
.Header__nav__logoText { /* PARA EL YOUNG SOUL */
    position: fixed; /* para que young soul se fije al hacer scroll */
    color: white;
    font-size: 3rem;
    font-weight: 900; /* extra grueso, sirve grosor o negrita */
    text-decoration: none;
    text-shadow:      /* las letras se ven mejor */
    0px 0px 15px black;
}
.Header__nav__logoText__logoimg{
    font-weight: bold;
    width: 5rem;  /* sin eso la imagen se sale de donde deberia */
    height: 5rem;
    vertical-align: middle; /* para que el medio de la imagen se alinie con el medio dlel texto */
}
.Header__nav__menu { /* PARA TODOS LOS LINKS */
    display: flex; /* poner elementos en fila */
    list-style: none; /* quitar puntos de la lista */
    gap: 4rem; /* espacio entre las opciones */
    margin-left: 125rem; /* del margen para afuera, Para dar margen a la izquierda y separar los links de young soul */
}
.Header__nav .HeadRojo,.Header__nav__menu .HeadRojo, .Header__nav .HeadBlanco,.Header__nav__menu .HeadBlanco{
    color: black;
}
.sombra a{
    text-shadow:      /* las letras se ven mejor */
    0px 0px 15px black;
}
.Header__nav__menu a { /* links  */
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 2.6rem;
    transition: 
        color 0.3s,
        font-size 0.3s;
}
.Header__nav__menu .Header__nav__menu__boton:hover{
    border-radius: 5rem;
    padding: 0.7rem 1.5rem;
    color: black;
    font-size: 3.2rem;
    background-color:rgb(255, 71, 59);
    text-shadow: none;

}
.Header__nav__menu .Header__nav__menu__rojo:hover{
    border-radius: 5rem;
    padding: 0.7rem 1.5rem;
    color: white;
    font-size: 3.2rem;
    background-color:black;
}
.Header__nav__menu li {
    padding-left: 6rem; /* para separar las los links*/
}
.HeaderNegro{
    background-color: rgb(18, 18, 18);
}
.HeaderBlanco{
    background-color: white;
}
.HeaderRojo{
    background-color:rgb(255, 71, 59);
}
.SectionUno{ /* PARA TODO EL CONTENEDOR UNO */
    border-bottom: solid; /* linea para la parte de abajo */
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem; /* grosor de borde */
    height: 95rem; 
    background-color: rgb(18, 18, 18);
    padding: 5rem; /* Separar el texto del borde, el texto no se pega al borde */
    text-align: center;
    color: white;
}
.SectionUno__YS{ /* PARA YOUNG SOUL DANCE STUDIO */
    font-size: 2.7rem;
    font-family: Arial, sans-serif;
    font-weight: 300;
     /* para dar espacio entre las letras */
}
.SectionUno__lema{ /* SER MEJOR PERSONA */
    padding-top: 10rem; /* separar young soul del lema */
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;;
    
}
.SectionUno__lema span{ /* ANTES Q BUEN BAILARIN */
    font-size: 12rem;
    font-weight: 900;
}
/* RED HAT DISPLAY LETRAS */
.SectionUno__LeerMas {
    display: inline-flex; /* para que el texto y la flecha estén alineados, hace que el enlace sea un contenedor flexible en línea */
    margin-top: 5rem; /* espacio arriba del elace */
    align-items: center; /* alinea horizontal */
    font-size: 2.5rem;
    color: white;
    text-decoration: none; /* quitar la linea predeterminada del link */
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    border-bottom: 1px solid white; /* línea debajo del texto */
    padding-bottom: 1rem; /* espacio entre el texto y la linea */
}
.SectionUno__Flecha {
    font-size: 4rem; /* agrandar flecha */
    display: inline-block; /* para q se mueva la flecha sin afectar el texto*/
    margin-left: 13rem; /* espacio entre texto y flecha */
    transition: transform 0.5s; /* para que la flecha se mueva suave*/
}
.SectionUno__LeerMas:hover .SectionUno__Flecha {
    transform: translateX(1rem); 
    /* flecha se mueve al pasar el mouse 
    transform propiedad que mueve rota escala o inclina un elemento
    X porque el movimiento es horizontal */
}
.ContenedorSectDosTres{
    display: flex; /* elemntos flexibles */
    justify-content: center; /* hace que las dos secciones esten lado a lado */
    height: 120rem; 
    text-align: center;/* alinea los elementos al centro */
}
.ContenedorSectDosTres__SectionDos{
    width: 50%;
}
.SectionDos__img{
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.5),   /* capa negra transparente */
        rgba(0, 0, 0, 0.5)    /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        /* se repite para crear capa uniforme en vez de degradado */
    ),  url(img/imgDancer.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center 10%; /* Mantén el punto central de la imagen siempre visible */
}
.ContenedorSectDosTres__Boton{
    margin-top: 30rem; /* para que el boton se acomode abajo */
    display: inline-flex; /* para que el texto y la flecha estén alineados, hace que el enlace sea un contenedor flexible en línea */
    align-items: center; /* alinea horizontall */
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-decoration: none; /* quitar la linea predeterminada del link */
    font-family: 'Poppins', sans-serif;
    padding: 0rem 4rem;     /* espacio interno, 0 abajo arriba, 4 izq derec, necesario para que el hover se transforme bien */
    border-radius: 5rem;      /*para q la trasnsicion no salte la forma de golpe, preparado para el hover */
    transition: 
        background 0.3s,
        color 0.3s,
        transform 0.3s; /* cualquier trasnformacion */
}




.ContenedorSectDosTres__FlechaDos, .Detalles__boton a{
    font-size: 5rem; /* agrandar flecha */
    display: inline-block; /* para q se mueva la flecha sin afectar el texto*/
    margin-left: 3rem; /* espacio entre texto y flecha */
    transition: transform 0.5s; /* para que la flecha se mueva suave*/
}
.ContenedorSectDosTres__Boton:hover {
    background: white; /* aparece el fondo */
    color: black;  /* texto negro */
    border-radius: 5rem; /* borde redondeado */
}
.ContenedorSectDosTres__Boton:hover .ContenedorSectDosTres__FlechaDos, .Detalles__boton span:hover {
    transform: translateX(1.5rem); 
    /* flecha se mueve al pasar el mouse 
    transform propiedad que mueve rota escala o inclina un elemento
    X porque el movimiento es horizontal */
}
.ContenedorSectDosTres__SectionTres{
    width: 50%;
    border: 0.2rem;
    border-left: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;  /* ancho de borde */ 
}
.SectionTres__img{
    background-image: linear-gradient(     /* se usa para degradado */
        rgba(0, 0, 0, 0.5),   /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        rgba(0, 0, 0, 0.5)    
        /* se repite para crear capa uniforme en vez de degradado */
    ), url(img/ElencoIndex.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
}
.ContenedorSectDosTres__Text{
    margin-top: 40rem; /* para bajar el texto al centro */
    color: white;
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 0.3rem;
}
.SectionCuatro, .Contact__inscribirse, .Contacto__sobreYS{
    width: 100%;
    height: 10rem;
    background-color: rgb(255, 71, 59); 
    display: flex;
    align-items: center; /* alinea veticall */
    justify-content: center; /* alinea horizontal */
}
.SectionCuatro p:hover, .Contact__inscribirse p:hover, .Contacto__sobreYS p:hover{
    color: white;
}
.SectionCuatro p, .Contact__inscribirse p, .Contacto__sobreYS p{
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-decoration: none;
    transition: 
    color 0.3s
    ;
}
.PiePag{
    width: 100%;
    height: 60rem; 
    background: white; 
    display: flex;
    flex-direction: column;
    align-items: center; /* alinea horizontal */
    justify-content: center; /* alinea vertical */

}
.PiePag__Titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
    font-weight: 900;

}
.PiePag__Nombre{
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    font-weight: 600;
}
.PiePag__Direccion{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-weight:600;
    text-align: center;
}
.PiePag__RedesSociales{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.PiePag__RedesSociales__Link{
    width: 7rem;
    height: 7rem;
    transition: 
    height 0.5s,
    width 0.5s
    ;
}
.PiePag__RedesSociales__Link:hover{
    width: 8rem;
    height: 8rem;
}
.footer{
    /* borde arriba y abajo */
    border-bottom:1rem solid black ;
    border-top: 1rem solid black;
}
.autor{
    text-align: end; /* para que este al finla del bloque */
    
}
.autor__nombre{
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* -------------------------------------------------INSTRUCTOR */
.Dancer{
    width: 100%;
    height: 50rem;
    padding-top: 15rem; /* para dar espacio entre el borde y el contenido */
    color: white;
    text-align: center; /* texto ne el centro */
    font-size: 18rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(18, 18, 18);
    font-weight: 900;
    line-height: 9rem; /* para que el texto no este tan junto del texto q esta abajo */
    border-bottom: 0.2rem solid white;
}
.Dancer span{
    font-size: 4rem;
    font-weight: 500;
    color: white;
}
.DancerDos{
    width: 100%;
    height: 90rem;
    background-color: rgb(18, 18, 18);
    display: flex;
    align-items: center; /* alinea en horizontal por column, flex direction */
    justify-content: center;
    flex-direction: column; /* para que los contenedores no esten lado a lado */
    padding-bottom: 5rem;
}
.DancerDos__RedesS{
    margin-top: 5rem;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    gap: 4rem;
}
.DancerDos__RedesS__Link{
    width: 5rem;
    height: 5rem;
    transition: 
    height 0.5s,
    width 0.5s;
}
.DancerDos__RedesS__Link:hover{
    width: 6rem;
    height: 6rem;
}

/*  */
 .DancerDos__img{
    margin-top: 3rem;
    width: 60rem;
    height: 60rem;
    border-radius: 100%;
    overflow: hidden; /* recorta la img a la forma del div */
}
 .DancerDos__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;         /* no se deforma y llena el div */
    object-position: 50% 30%;   /* centra la imagen, horizontal vertical*/
}
/*  */

.Actividad{
    padding-top: 5rem;
    background-color: rgb(18, 18, 18) ;
    color: white;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    border-top: 0.2rem solid white;
}
.Actividad__Videos {
    display: flex;
    flex-direction: column; /* videos uno debajo del otro */
    align-items: center; /* centrados horizontal por column */
    gap: 40px; /* espacio entre video*/
    padding: 40px; /* espacio arriba/abajo */
}

.Actividad__Videos iframe {
    width: 90%;           /* tamaño del video */
    height: auto;        /* altura normal sin cortar */
    border-radius: 20px;  /* opcional: bordes redondeados */
    aspect-ratio: 16/9; /* Por cada 16 unidades de ancho, el alto debe tener 9 unidades  16/9 es la proporcion delos videos de YT actuales */
    transition: box-shadow 0.5s,
    width 1s,
    height 1s;
}
.Actividad__Videos iframe:hover {
    box-shadow: 0rem 0rem 10px white,
                    0rem 0rem 20px white,
                    0rem 0rem 40px white,
                    0rem 0rem 60px white;
    width: 80%;           /* tamaño del video */
    height: auto;        /* altura normal sin cortar */
}

/*------------------------------------------------- CONTACTANOS */
#map{
    width: 100%;
    height: 105rem;
    border-top: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
}
.Shadow{
    text-shadow: none;
}
.ContenidoTexto{
    margin: 9rem 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    font-weight: 900;
    line-height: 5rem; /* dar espacio entre texto, separcion de abajo */
}
.ContenidoTexto span{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
}
.SectDos, .SectUno{
    padding: 0 5rem;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center; /* alinea vertical */
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.SectUno{
    border-bottom: 0.3rem solid black;
}

.SectDos span, .SectUno span{
    font-size: 2.5rem;
    font-weight: 600;
}


/* ---------------------------------------------------------------------------------SOBRE YS */
.Brillo{
    text-shadow: 0 0 0.5rem white,
    0 0 0.5rem white;
}

.SectInicial {
    padding-top: 5rem;
    background-color: rgb(255, 71, 59); 
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    width: 100%;
    height: 70rem;               /* ocupa toda la pantalla */
}

.SectInicial__YS {
    font-size: 12rem;
    font-weight: 900;
    line-height: 15rem;
    color: black;
}
.TextoUno {
    padding-left: 20rem;
}

.TextoDos {
    display: flex;
    align-items: center; /* alinea vertical */
    padding-left: 11rem;
    gap: 20px;             /* separa AL - SIGUIENTE */
}
.linea {
    display: inline-block;
    width: 35rem;         /* tamaño de la línea */
    height: 0.2rem;
    background-color: black;
}
.TextoTres {
    padding-left: 43rem;
}
.SobreYS p{
    padding: 0 8rem;
    color: black;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;

}
.SobreYS{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 71, 59);
    padding-bottom: 5rem;
    border-bottom: 0.2rem solid black;
}
.SobreYS img{
    padding: 0 20rem;
    width: 115rem;
    height: 60rem;
}
.SobreYS img:hover{
    content: url("img/SobreYSDos.jpg");

}
/*  */
.SobreYS__imagenYT{
    background-image: linear-gradient(     /* se usa para degradado */
        rgba(0, 0, 0, 0.5),   /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        rgba(0, 0, 0, 0.5)    
        /* se repite para crear capa uniforme en vez de degradado */
    ), url(img/SobreYSYT.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
}
.SobreYS__imagenTT{
    background-image: linear-gradient(     /* se usa para degradado */
        rgba(0, 0, 0, 0.5),   /* capa negra transparente  0,0,0 color   0,5 trasnparencia 1 es el maximo*/
        rgba(0, 0, 0, 0.5)    
        /* se repite para crear capa uniforme en vez de degradado */
    ), url(img/SobreYSTT.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
}
/*  */

/* -------------------------------------------------------------------------------ELENCO */
.SectPasoPaso{
    height: 40rem;
}

.SectEquipo{
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 3rem 5rem;
    background-color:rgb(255, 71, 59) ;
}
.SectEquipo__img{
    margin-left: 5rem;
    width: 105rem;
    height: 55rem;
    background-image: url(img/ElencoPasoaPaso.jpg);
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
    transition: all 0.5s;
}
.SectEquipo__img:hover{
    transform: scale(1.1);
    box-shadow: 0rem 0rem 10px black,
                    0rem 0rem 20px black,
                    0rem 0rem 40px black,
                    0rem 0rem 60px #ff3300,
                    0rem 0rem 80px #922206;
}
.SectEquipo p{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.Metas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70rem;
    border-top: 0.1rem solid black;
    background-color: rgb(255, 71, 59);
    padding: 1rem 0;
}
.Metas__texto{
    font-size: 2.5rem;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.Estrella{
    font-size: 6rem;
    transition: text-shadow 1s,
    color 0.3s;
}
.Metas:hover .Estrella{
    /* 0rem  no se mueve a la derecha
    0rem  no se mueve hacia abajo
    10px  difuminado */
    color: #fff200;
    text-shadow: 0rem 0rem 10px #fff200,
                    0rem 0rem 20px #fff200,
                    0rem 0rem 40px #fff200,
                    0rem 0rem 60px #fff200,
                    0rem 0rem 80px #fff200;
}
.Logros{
    background-color:rgb(18, 18, 18);
}
.Logros__KWorld, .Logros__KQ, .Logros__FiebreA{
    text-align: center;
    color: white;
    display: flex;
    align-items: center;  /* se convierte en horizontal por felx direct  */
    flex-direction: row;
    gap: 20rem;
    padding: 5rem 5rem;
}
.Logros__KWorld h1,.Logros__KQ h1, .Logros__FiebreA h1{
    font-size: 5rem;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    padding-bottom: 3rem;
}
.Logros__KWorld__video,.Logros__KQ__video, .Logros__FiebreA__video{
    width: 100%;           
    height: auto;     
} 
.Logros__KWorld__video iframe,.Logros__KQ__video iframe, .Logros__FiebreA__video iframe{
    border-bottom: 0.1rem solid white;
    padding-bottom: 5rem;
    width: 100%;           /* tamaño del video */
    height: auto;        /* altura normal sin cortar */
    border-radius: 20px;  /* opcional: bordes redondeados */
    aspect-ratio: 16/9; /* Por cada 16 unidades de ancho, el alto debe tener 9 unidades  16/9 es la proporcion delos videos de YT actuales */
    transition: box-shadow 0.5s,
    width 1s,
    height 1s;
}  
.Logros__KWorld__video iframe:hover,.Logros__KQ__video iframe:hover, .Logros__FiebreA__video iframe:hover{
    box-shadow: 0rem 0rem 10px #e91f1f,
                 0rem 0rem 20px #e91f1f,
                 0rem 0rem 40px rgb(83, 21, 21),
                 0rem 0rem 60px rgb(83, 21, 21);
    width: 95%;           /* tamaño del video */
    height: auto;
} 
.Logros__KQ{
    border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
}
.Logros__KQ{
    border-top: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
}

.Logros__KWorld__imagenes, .Logros__KQ__imagenes, .Logros__FiebreA__imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.Logros__KWorld__img1{
    background-image: url(img/ElencoKW1.jpg);
}
.Logros__KWorld__img1:hover, 
.Logros__KWorld__img2:hover,
.Logros__KWorld__img3:hover,
.Logros__KQ__img1:hover,
.Logros__KQ__img2:hover,
.Logros__KQ__img3:hover,
.Logros__FiebreA__img1:hover,
.Logros__FiebreA__img2:hover,
.Logros__FiebreA__img3:hover   {
    filter: brightness(150%);
    border-radius: 3rem;

}
.Logros__KWorld__img2{
    background-image: url(img/ElencoKW2.jpg);
}
.Logros__KWorld__img3{
    background-image: url(img/ElencoKW3.jpg);
}
.Logros__KQ__img1{
    background-image: url(img/ElencoKQ1.jpg);
}
.Logros__KQ__img2{
    background-image: url(img/ElencoKQ2.jpg);
}
.Logros__KQ__img3{
    background-image: url(img/ElencoKQ3.jpg);
}
.Logros__FiebreA__img1{
    background-image: url(img/ElencoFA1.jpg);
}
.Logros__FiebreA__img2{
    background-image: url(img/ElencoFA2.jpg);
}
.Logros__FiebreA__img3{
    background-image: url(img/ElencoFA3.jpg);
}
.Logros__KWorld__img1, .Logros__KQ__img1, .Logros__FiebreA__img1{
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
    width: 50rem;
    height: 35rem;
    transition: all 0.5s;
}
.Logros__KWorld__img2y3, .Logros__KQ__img2y3 ,.Logros__FiebreA__img2y3{
    flex-direction: row;
}
.Logros__KWorld__img2, .Logros__KQ__img2, .Logros__FiebreA__img2{
    margin-bottom: 5rem;
    transition: all 0.5s;
}
.Logros__KWorld__img3, .Logros__KQ__img3, .Logros__FiebreA__img3, .Logros__KWorld__img2, .Logros__KQ__img2, .Logros__FiebreA__img2{
    background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
    background-position: center; /* Mantén el punto central de la imagen siempre visible */
    width: 60rem;
    height: 35rem;
    transition: all 0.5s;
}

/* ----------------------------------------------------------------------INSCRIBIRSE */

    .ComprarClase {
        background: rgb(18, 18, 18);
        font-family: 'Poppins', sans-serif;
        color: white;
        width: 100%;
        height:70rem;
        text-align: center;
        padding: 5rem 0;
    }

    .ComprarClase h2 {
        font-size: 7rem;
        margin-bottom: 0.5rem;
    }

    .ComprarClase p {
        font-size: 3.5rem;
        margin-bottom: 7rem;
    }

    .ComprarClase__tabla {
        display: flex;
        flex-direction:row;
        gap: 20rem;
        width: 90%;
    }

    .ComprarClase__tabla__clases {
        width: 45%;
        border-bottom: 0.1rem solid white;
        border-top: 0.1rem solid white;
        border-right: 0.1rem solid white;
    }

    .ComprarClase__tabla__clases__fila {
        display:flex;
        justify-content: space-between;
        padding: 1.5rem 15rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
        font-size: 1.5rem;
    }

    .formulario {
        width: 45%;
        display: flex;
        flex-wrap: wrap; /* para q los inputs se vayan a la siguinete linea */
        gap: 3rem;
    }

    .formulario__campo {
        width: calc(50% - 1.5rem); /* toma el 50% del ancho calcular dinamicamente, ajustar automaticamente sin romper diseño */
        text-align: left;
    }

    .formulario__campo label {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    /* Inputs tipo línea */
    .formulario__campo input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: 0.1rem solid white;
        padding: 0.3rem 0;
        color: white;
        outline: none; /* quita el borde azul por defecto al seleccionar */
        font-size: 1.4rem;
    }
    #clase {
    width: 100%;
    padding: 0.8rem 0;
    font-size: 1.5rem;
    color: white;
    background: rgba(255,255,255,0.05); /* fondo suave */
    border: none;                /* elimina todos los bordes */
    border-bottom: 0.1rem solid white; /* solo línea inferior */
    border-radius: 0;
}

#clase option {
    background-color: #121212 ; /* elimina fondo blanco */
    color: white ;              /* asegura texto visible */
    border: none;              /* evita bordes raros */
    padding: 1rem;
}

#clase option:checked {
    background-color: #333 ;
    color: white ;
}

    .formulario button {
        width: 15%;
        padding: 1.5rem;
        background: white;
        color: black;
        font-weight: bold;
        font-size: 2rem;
        border:none;
        border-radius: 0.5rem;
        cursor: pointer;
        margin-top: 2rem;
        transition: box-shadow 0.5s,
        width 0.5s;
    }
    .formulario button:hover{
        width: 14%;
         box-shadow: 0rem 0rem 10px white,
                    0rem 0rem 20px white,
                    0rem 0rem 40px white,
                    0rem 0rem 60px white;

    }
    /* -------------------------------------------------------------------------------CLASES */
    .Tipos{
        height: 90rem;
        text-align: center;
        font-family: 'Encode Sans Semi Condensed', sans-serif;
        color: white;
        background-color: rgb(18, 18, 18);
    }
    .Tipos h1{
        font-size: 7rem;
        border-bottom: 0.1rem solid white;
        padding-bottom: 2rem;
    }
    .Tipos h2{
        font-size: 2.5rem;
        padding: 2rem 0;
    }
    .Tipos__alineacions__titulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0;
    }
    .Tipos__alineacions__titulo h3{
        font-size: 1.5rem;
    }
    .Tipos__alineacion{
        display: flex;
        gap: 8rem;
        flex-direction: row;
        padding: 2rem 60rem;
    }
    .Tipos__alineacion__barra{
        border-left: 0.1rem solid rgba(255, 255, 255, 0.3);
        height: 15rem;
        text-align: left;
        padding-left: 3rem;
        font-size: 1.5rem;   
    }
    .barra{
        height: 20rem;
    }
    .barra3{
        height: 10rem;
    }
    .barra2{
        height: 15rem;
    }
    .Tipos__alineacion__barravideo{
        margin-left: -3rem;
    }
    .vid1{
        width: 48rem;
        height: 25rem;
        background-image: url(img/ClasesPrincipiante.jpg);
        background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
        background-position: center; /* Mantén el punto central de la imagen siempre visible */
    }
    .vid2{
        height: 30rem;
        width: 39rem;
        background-image: url(img/ClasesIntermedio.jpg);
        background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
        background-position: center; /* Mantén el punto central de la imagen siempre visible */
    }
    .vid3{
        width: 40rem;
        height: 35rem;
        background-image: url(img/ClasesEstilos.jpg);
        background-size: cover; /* imagen de fondo cubra todo el contenedor, sin dejar espacios en blanco */
        background-position: center; /* Mantén el punto central de la imagen siempre visible */
    }
    .Tipos__alineacion__punto, .Horario__punto {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }

    .verde { 
    background-color: #00ff00;
     }
     .celeste { 
    background-color: #00aaff; 
     }
    .rojo {
     background-color: #ff0000; 
    }
    .Tipos__alineacion__princiantes{
        font-family: 'Poppins', sans-serif;
    }


    /* ---------------------------- HORARIO ---------------------------- */

.Horario {
    width: 100%;
    background: white;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 5rem 0;
}

.HorarioTitulo h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 700;
}

.HorarioTabla {
    width: 100%;
}

.HorarioTabla__fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 15rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.3);
    font-size: 1.6rem;
}

.HorarioTabla__fila__nivel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}



.Detalles {
    background-color: rgb(18, 18, 18);
    padding: 5rem 0 10rem 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   /* centra vert*/
}

.Detalles h2 {
    text-align: center;
    font-size: 3rem;
    border-bottom: 0.1rem solid white;
    padding-bottom: 2rem;
    width: 80%;
    margin: 0 auto 5rem auto;
}

.Detalles__principiantes, .Detalles__intermedio, .Detalles__estilos {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    border-bottom: 0.1rem solid rgba(255,255,255,0.2);
    width: 100%;
    padding: 5rem 12rem;
}

.Detalles__principiantes iframe, .Detalles__intermedio iframe, .Detalles__estilos iframe {
    width: 50%;
    height: auto;
    border-radius: 2rem;
    aspect-ratio: 16/9;
    border-bottom: 0.1rem solid white;
    padding-bottom: 3rem;
    transition: box-shadow 0.5s,
    width 1s,
    height 1s;
}
.Detalles__principiantes iframe:hover, .Detalles__intermedio iframe:hover, .Detalles__estilos iframe:hover {

    box-shadow: 0rem 0rem 10px white,
                    0rem 0rem 20px white,
                    0rem 0rem 40px white,
                    0rem 0rem 60px white;
    width: 45%;           /* tamaño del video */
    height: auto;
}

.Detalles__contenido {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.Detalles__titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.Detalles__titulo h3 {
    font-size: 2rem;
}

.Tipos__alineacion__punto {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.Detalles__contenido p {
    font-size: 2rem;
    margin: 2rem 0;
    line-height: 4rem;
}

.Detalles__boton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.7rem;
    margin-top: 2rem;
}

.Detalles__boton a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}

.Detalles__boton span {
    font-size: 2rem;
}

.Header__nav__hamburguesa {
    position: fixed;      /* fijo*/
    top: 1.5rem;            /* distancia desde arriba */
    right: 1rem;          /* distancia desde la derecha → ES LO QUE LO PEGA A LA ESQUINA */
    width: 7rem;
    height: 7rem;
    color: white;
    cursor: pointer;
    z-index: 1000;        /* MUY ENCIMA DE TODO */
    display: none;        /* oculto en pantallas grandes */
    
}

@media (max-width:1600px ){
    /* MENU HAMBURGUESA */

    .Header__nav__hamburguesa {
        display: block;
    }

    .Header__nav__menu {
        display: none;
        position: fixed;
        top: 10rem;
        right: 0;
        width: 100%;
        flex-direction: column;
        padding: 4rem 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.845);
              /* oculto en pantallas grandes */
    }

    .Header__nav__menu.activo {
        display: flex; /* APARECE */
    }

    .Header__nav__menu li {
        padding-left: 0; /* quitar padding que arruina el centro */
        color: black;
    }

    .Header__nav__menu__boton {
        font-size: 3rem;
    }
    /* ---------------------------------------------------------INDEX */
    .Header__nav__logoText__logoimg{
         width: 2.5rem;  /* sin eso la imagen se sale de donde deberia */
         height: 2.5rem;
    }
    .Header__nav__logoText { /* PARA EL YOUNG SOUL */
        font-size: 1.5rem;
     }
    .SectionUno__lema{ /* SER MEJOR PERSONA */
         font-size: 3.5rem;
   
    }
    .SectionUno__lema span{ /* ANTES Q BUEN BAILARIN */
         font-size: 5.5rem;
    }
    .SectionUno{ /* PARA TODO EL CONTENEDOR UNO */
         height: 65rem;
    }
    .SectionUno__LeerMas { 
    font-size: 2rem;
    }
    .ContenedorSectDosTres{
         flex-direction: column;
         height: auto;                                                          
    }
    .ContenedorSectDosTres__SectionTres{
         border-top: solid;
         border-color: white;
         border-left: 0;
    }
    .ContenedorSectDosTres__SectionDos,.ContenedorSectDosTres__SectionTres {
        width: 100%;
    }
    .ContenedorSectDosTres__Text {
        font-size: 3rem;
        margin-top: 15rem;
    }
    .ContenedorSectDosTres__Boton {
        margin-top: 7rem;
        font-size: 2rem;
    }
    .SectionCuatro a{
         font-size: 2rem;
    }
    .ContenedorSectDosTres__Boton{
         font-size: 1.5rem;
         margin-bottom: 10rem;
         padding: 0rem 2rem;     /* espacio interno, 0 abajo arriba, 4 izq derec, necesario para que el hover se transforme bien */
    }
    .ContenedorSectDosTres__FlechaDos{
         font-size: 3rem; /* agrandar flecha */
    }
    .PiePag{
         height: 35rem;
    }
    .PiePag__RedesSociales__Link{
         width: 4rem;
         height: 4rem;
    }
    .PiePag__RedesSociales__Link:hover{
    width: 5rem;
    height: 5rem;
}
    /* FOOTER */
    .PiePag__Titulo {
         font-size: 5rem;
    }
    .PiePag__Nombre {
         font-size: 3rem;
    }
    .PiePag__Direccion {
        font-size: 2.4rem;
    }
    .SectionUno__YS { /* PARA EL YOUNG SOUL */
    font-size: 2rem;
}
 
/*---------------------------------------------------------- INSTRUCTOR */
    .Dancer{
         height: 15rem;
         padding-top: 0rem; /* para dar espacio entre el borde y el contenido */
         font-size: 5rem;
         line-height: 4rem;
    }
    .Dancer span{
         font-size: 1.5rem;
    }
    .DancerDos__RedesS__Link{
         margin-top: 0;
         width: 3rem;
         height: 3rem;
         transition: 
    height 0.5s,
    width 0.5s
    ;
}
.DancerDos__RedesS__Link:hover{
    width: 4rem;
    height: 4rem;
}
      .DancerDos__img{
    width: 25rem;
    height: 25rem;
    }
     .DancerDos{
          height: 45rem;
    }
    .Actividad{
         padding-top: 3rem;
         font-size: 1.5rem;
    }
 
     /* --------------------------------------CONTACTANOS */
    #map{
    border-top: 0.1rem;
    border-bottom: 0.1rem;
}
    .ContenidoTexto{
    margin: 2rem 0;
    font-size: 3rem;
}
.ContenidoTexto span{
    font-size: 1.5rem;
}
.SectDos, .SectUno{
    font-size: 1rem;
}
.SectUno{
    border-bottom: 0.1rem solid black;
}
 
.SectDos span, .SectUno span{
    font-size: 1rem;
}
 
/* ---------------------------------------------------SOBRE YS */
    .SectInicial__YS {
    line-height: 8rem;
    font-size: 7rem;
   
}
.SectInicial {
    padding-top: 0;
    height: 28rem;
}
.SobreYS img{
    width: 70rem;
    height: 25rem;
}
.TextoUno {
    padding-left: 10rem;
}
.TextoDos {
    padding-left: 5rem;
}
.linea {
    width: 17rem;         /* tamaño de la línea */
    height: 0.2rem;
    background-color: black;
}
.TextoTres {
    padding-left: 25rem;
}
.SobreYS p{
    padding: 3rem 3rem;
    font-size: 1.3rem;
}
.SobreYS{
    flex-direction: column;
    padding-bottom: 5rem;
    border-bottom: 0.1rem;
}
/* --------------------------------------------------ELENCO */
.SectPasoPaso{
    height: 15rem;
    padding-left: 20rem;
}
.SectEquipo{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.SectEquipo__img{
    width:90% ;
    height: 40rem;
    background-color: gray;
}
.SectEquipo p{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.Metas{
    gap: 10rem;
}
.Logros{
    background-color:rgb(18, 18, 18);
}
.Logros__KWorld, .Logros__KQ, .Logros__FiebreA{
    flex-direction: column;
    gap: 3rem; /* para el espacio entre una seccion y otra */
    padding: 5rem 5rem;
}
.Logros__KWorld h1,.Logros__KQ h1, .Logros__FiebreA h1{
    font-size: 4rem;
}
.Logros__KWorld__video,.Logros__KQ__video, .Logros__FiebreA__video{
    width: 100%;           
    height: auto;     
} 

.Logros__KWorld__img1, .Logros__KQ__img1, .Logros__FiebreA__img1{
    background-color: grey;
    width: 30rem;
    height: 35rem;
}

.Logros__KWorld__img2, .Logros__KQ__img2, .Logros__FiebreA__img2{
    margin-bottom: 5rem;
}
.Logros__KWorld__img3, .Logros__KQ__img3, .Logros__FiebreA__img3, .Logros__KWorld__img2, .Logros__KQ__img2, .Logros__FiebreA__img2{
    background-color: grey;
    width: 40rem;
    height: 25rem;
}
/* --------------------------------------------------------CLASES */

.Tipos {
        height: auto;
        padding-bottom: 5rem;
    }

    .Tipos h1 {
        font-size: 5rem;
    }

    .Tipos h2 {
        font-size: 2rem;
    }

    .Tipos__alineacion {
        padding: 2rem 10rem;
        gap: 4rem;
    }

    .Tipos__alineacion__barra {
        height: auto;
        padding-left: 2rem;
        font-size: 1.2rem;
    }

    .vid1, .vid2, .vid3 {
        margin-top: 1.5rem;
        width: 100%;
        height: 22rem;
        margin-left: 0;
    }
    

    /* -----------------------------------------------------------------------INSCRIBIRSE */
    .ComprarClase {
        height: auto;
        padding: 4rem 0;
    }

    .ComprarClase h2 {
        font-size: 5rem;
    }

    .ComprarClase p {
        font-size: 3rem;
    }

    .ComprarClase__tabla {
        gap: 5rem;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .ComprarClase__tabla__clases {
        width: 45%;
    }

    .ComprarClase__tabla__clases__fila {
        padding: 1.5rem 6rem;
        font-size: 1.7rem;
    }

    /* formulario */
    .formulario {
        width: 45%;
        gap: 2rem;
    }

    .formulario__campo {
        width: calc(50% - 1rem);
    }

    .formulario button {
        width: 40%;
        font-size: 2rem;
    }
    .formulario button:hover{
        width: 38%;
         box-shadow: 0rem 0rem 10px white,
                    0rem 0rem 20px white,
                    0rem 0rem 40px white,
                    0rem 0rem 60px white;

    }
}
@media (max-width:768px ){
    .Header__nav__hamburguesa {
        position: fixed;
    margin-left: 30rem;/* distancia desde la derecha → ES LO QUE LO PEGA A LA ESQUINA */   
    left: 0%;
    }
    /* INDEX */
    .Header__nav__logoText__logoimg{
         width: 2.5rem;  /* sin eso la imagen se sale de donde deberia */
         height: 2.5rem;
    }
    .Header__nav__logoText { /* PARA EL YOUNG SOUL */
        font-size: 1.5rem;
        margin-left: 0rem;
     }
     .Header__nav { /* PARA EL YOUNG SOUL */
        padding-left: 2.5rem;
     }
    .SectionUno__lema{ /* SER MEJOR PERSONA */
         font-size: 2rem;
   
    }
    .SectionUno__lema span{ /* ANTES Q BUEN BAILARIN */
         font-size: 3.5rem;
    }
    .SectionUno{ /* PARA TODO EL CONTENEDOR UNO */
         height: 60rem;
    }
    .SectionUno__LeerMas {
    font-size: 2rem;
}

.SectionUno__Flecha {
    font-size: 3rem; 
    
}
    .ContenedorSectDosTres{
         flex-direction: column;
         height: auto;                                                          
    }
    .ContenedorSectDosTres__SectionTres{
         border-top: solid;
         border-color: white;
         border-left: 0;
    }
    .ContenedorSectDosTres__SectionDos,.ContenedorSectDosTres__SectionTres {
        width: 100%;
    }
    .ContenedorSectDosTres__Text {
        font-size: 3rem;
        margin-top: 15rem;
    }
    .ContenedorSectDosTres__Boton {
        margin-top: 7rem;
        font-size: 2rem;
    }
    .SectionCuatro{
         height: 6rem;
    }
    .SectionCuatro p{
         font-size: 2rem;
    }
    .ContenedorSectDosTres__Boton{
         font-size: 1.5rem;
         margin-bottom: 10rem;
         padding: 0rem 2rem;     /* espacio interno, 0 abajo arriba, 4 izq derec, necesario para que el hover se transforme bien */
    }
    .ContenedorSectDosTres__FlechaDos{
         font-size: 3rem; /* agrandar flecha */
    }
    .PiePag{
         height: 30rem;
    }
    /* FOOTER */
    .PiePag__Titulo {
         font-size: 4rem;
    }
    .PiePag__Nombre {
         font-size: 2.5rem;
    }
    .PiePag__Direccion {
        font-size: 2rem;
    }
    .SectionUno__YS { /* PARA EL YOUNG SOUL */
    font-size: 2rem;
    
}
 
/* INSTRUCTOR */
    .Dancer{
         height: 10rem;
         padding-top: 0rem; /* para dar espacio entre el borde y el contenido */
         font-size: 5rem;
         line-height: 4rem;
    }
    .Dancer span{
         font-size: 1.5rem;
    }
    .DancerDos__RedesS__Link{
         margin-top: 0;
         width: 3rem;
         height: 3rem;
     }
      .DancerDos__img{
    width: 25rem;
    height: 25rem;
    }
     .DancerDos{
          height: 40rem;
    }
    .Actividad{
         padding-top: 3rem;
         font-size: 1.5rem;
    }
    .DancerDos__RedesS{
    margin-top: 2rem;
    gap: 2.5rem;
}
/* CONTACTANOS */
    #map{
    border-top: 0.5rem;
    border-bottom: 0.5rem;
}
    .ContenidoTexto{
    font-size: 2rem;
    line-height: 3rem;
}
.ContenidoTexto span{
    font-size: 1.3rem;
}
.SectDos, .SectUno{
    padding: 0 1rem;
    font-size: 1rem;
}
.SectUno{
    border-bottom: 0.1rem solid black;
}
 
.SectDos span, .SectUno span{
    padding-left: 1rem;
    font-size: 1rem;
}
 
/* -------------------------------------SOBRE YS */
 
.SectInicial {
    padding-top: 0rem;
    height: 15rem;            
}
 
.SectInicial__YS {
    line-height: 4.8rem;
    font-size: 3rem;
   
}
.SobreYS img{
    width: 65rem;
    height: 20rem;
}
 
.TextoUno {
    padding-left: 4rem;
}
 
.TextoDos {
    padding-left: 0.5rem;
}
 
.linea {
    width: 9rem;         /* tamaño de la línea */
    height: 0.1rem;
    background-color: black;
}
 
.TextoTres {
    padding-left: 13rem;
}
 
.SobreYS p{
    padding: 3rem 5rem;
    font-size: 1.3rem;
 
}
.SobreYS{
    flex-direction: column;
    padding-bottom: 5rem;
    border-bottom: 0.1rem;
}
.Contacto__sobreYS{
    height: 6rem;
}
.Contacto__sobreYS p{
    font-size: 1.7rem;
}
/* ----------------------------------------ELENCO */
.SectPasoPaso{
    padding-left: 5rem;
    height: auto;
}

.SectEquipo__img{
    width: 30rem;
    height: 20rem;
    margin-left: 0;
    background-color: gray;
}
.SectPasoPaso .TextoTres {
    padding-left: 9rem;
}
.SectEquipo{
    padding-top: 1rem;
}
.Logros__KWorld, .Logros__KQ, .Logros__FiebreA{
    gap: 2rem; /* para el espacio entre una seccion y otra */
    padding: 4rem 2rem;
}
.Logros__KWorld h1,.Logros__KQ h1, .Logros__FiebreA h1{
    font-size: 2rem;
} 
.Logros__KWorld__img1, .Logros__KQ__img1, .Logros__FiebreA__img1{
    background-color: grey;
    width: 12rem;
    height: 15rem;
}

.Logros__KWorld__img2, .Logros__KQ__img2, .Logros__FiebreA__img2{
    margin-bottom: 5rem;
}
.Logros__KWorld__img3, .Logros__KQ__img3, .Logros__FiebreA__img3, .Logros__KWorld__img2, .Logros__KQ__img2, .Logros__FiebreA__img2{
    background-color: grey;
    width: 20rem;
    height: 10rem;
}
.Logros__KWorld__imagenes, .Logros__KWorld__img2y3, 
.Logros__KQ__imagenes, .Logros__KQ__img2y3.Actividad,
.Logros__FiebreA__imagenes, .Logros__FiebreA__img2y3{
    gap: 1rem;
}
.Header__nav__menu {
        text-align: left;
        padding-left: 5rem;
    }
.Metas, .Metas h2{
    gap: 1rem;
    font-size: 1.8rem;
}
/* -------------------------------------------------------CLASES */
.Tipos {
        height: auto;
        padding: 0 2rem 6rem 2rem;
        text-align: left;
    }

    .Tipos h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .Tipos h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .Tipos__alineacion {
        flex-direction: column;
        padding: 0;
        gap: 4rem;
    }

    .Tipos__alineacions__titulo {
        padding: 1rem 0;
    }

    .Tipos__alineacion__barra {
        border-left: 0.1rem solid rgba(255,255,255,0.3);
        padding-left: 1.5rem;
        height: auto;
        width: 100%;
    }

    .Tipos__alineacion__barravideo {
        width: 100%;
        height: 20rem;
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .vid1, .vid2, .vid3 {
        width: 100%;
        height: 20rem;
    }

    /* ---------------------- HORARIO ---------------------- */

    .Horario {
        padding: 4rem 2rem;
    }

    .HorarioTitulo h1 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    .HorarioTabla__fila {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 2rem 2rem;
        font-size: 1.6rem;
    }

    .HorarioTabla__fila__nivel {
        margin-top: 1rem;
    }


    /* ---------------------- DETALLES ---------------------- */

    .Detalles {
        padding: 4rem 0;
        text-align: center;
    }

    .Detalles h2 {
        width: 90%;
        font-size: 2.5rem;
    }

    .Detalles__principiantes,
    .Detalles__intermedio,
    .Detalles__estilos {
        flex-direction: column;
        padding: 3rem 2rem;
        gap: 3rem;
        text-align: left;
    }

    .Detalles__principiantes iframe,
    .Detalles__intermedio iframe,
    .Detalles__estilos iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
        padding-bottom: 1rem;
    }

    .Detalles__principiantes iframe:hover,
    .Detalles__intermedio iframe:hover,
    .Detalles__estilos iframe:hover {
        width: 95%;
        height: auto;
    }

    .Detalles__contenido {
        width: 100%;
    }

    .Detalles__titulo {
        gap: 1rem;
    }

    .Detalles__titulo h3 {
        font-size: 2rem;
    }

    .Detalles__contenido p {
        font-size: 1.4rem;
    }

    .Detalles__boton {
        font-size: 1.6rem;
        margin-top: 1rem;
    }

    .Detalles__boton a {
        font-size: 1.6rem;
    }
    /* ------------------------------------------------------INSCRIBIRSE */
    .ComprarClase {
        height: auto;
        padding: 4rem 2rem;
        text-align: center;
    }

    .ComprarClase h2 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .ComprarClase p {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    /* TABLA EN UNA COLUMNA */
    .ComprarClase__tabla {
        flex-direction: column;
        width: 100%;
        gap: 4rem;
        align-items: center;
    }

    .ComprarClase__tabla__clases {
        width: 100%;
        color: black;
        background-color: rgb(231, 235, 239);
        border-radius: 4rem;
        transition: box-shadow 0.5s,
        border-radius 0.5s;
        
    }
    .ComprarClase__tabla__clases:hover {
        box-shadow: 0rem 0rem 10px white,
                    0rem 0rem 20px white;
        border-radius: 0;
    }

    .ComprarClase__tabla__clases__fila {
        padding: 1.5rem 2rem;
       font-size: 1.6rem;
       justify-content: space-between;
       border-bottom: 0.1rem solid black;
    }
    


    /* FORMULARIO MÓVIL */
    .formulario {
        width: 100%;
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
    }

    .formulario__campo {
        width: 100%;
        text-align: left;
    }

    .formulario__campo label {
        font-size: 1.6rem;
    }

    .formulario__campo input {
        font-size: 1.6rem;
        padding: 0.6rem 0;
    }

    .formulario button {
        width: 60%;
        font-size: 2rem;
        padding: 1.5rem;
    }
    .Contact__inscribirse p {
        font-size: 2rem;   
    }
}



